*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

:root {
  --blue: #2997FF;
  --gray-default: #86868b;
  --gray-100: #94928d;
  --gray-200: #afafaf;
  --gray-300: #42424570;
  --zinc: #101010;
}